@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap')
*{
    font-family: 'Inter';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
 
        line-height: 1.5;
        text-size-adjust: 100%;
        tab-size: 4;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

li {
    list-style: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.Treact-Logo {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba (0, 0, 0, 0.16);
    margin-bottom: 28px;
}


.header {
    height: 10px; 
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
