h1 {
    color: red;
}
div {
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.red {
    color: red;
}
.blue {
    color: blue;
}