@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
ROOT
*/

#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#home__page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0;
}

.landingpage__container {
  padding: 40px 40px 40px 40px;
}

nav {
  width: 100%;
  max-width: 1200px;
  height: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0 15px;
}
.logo__name {
  padding-left: 0 0 5px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(36, 62, 99);
}

.treact__logo {
  width: 50px;
  height: 50px;
  margin: 0px 15px 0px 0px;
}
.design__illustration--image {
  width: 100%;
  max-width: 960px;
  height: 537px;
  vertical-align: middle;
  color: rgb(36, 62, 99);
}
.trusted__customers--logo-strip {
  width: 100%;
  max-width: 533px;
  height: 100%;
  max-height: 30px;
  margin: 20px 0 0;
  padding: 0px 150px 0px 0px;
}
.nav__link--anchor {
  margin: 0 30px;
  padding: 0px 0px 5px;
  color: #243e63;
  font-size: 17.5px;
  font-weight: 600;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

.p1 {
  font-size: 22.5px;
  text-align: left;
  display: block;
  margin: 40px 0;
}

.p2 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  text-align: left;
  margin-top: 40px;
  color: rgb(160, 174, 192);
}

.text--purple {
  color: rgb(100, 21, 255);
}

.nav__link--anchor--primary {
  background-color: rgb(100, 21, 255);
  padding: 15px 40px;
  border-radius: 50px;
  color: rgb(247, 250, 252);
  transition: all 300ms ease;
}
.nav__link--list {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  font-size: 17.5px;
}

/*header {
  background-color: #eadcff;
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.row99 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*

SECTION 
HOME_PAGE

*/

.home-page__container {
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

.column1__container--row {
  width: 100%;
  max-width: 1200px;
}
.column1__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 40%;
}
.column2__container {
  width: 100%;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*
SECTION
FEATURES
*/

#feature {
  width: 100%;
  max-width: 1200px;
  padding: 120px 0px;
  margin: 0 auto;
}

.h5 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  color: rgb(100, 21, 255);
  margin-bottom: 20px;
}

.h2 {
  text-align: center;
  font-size: 60px;
  width: 1024px;
  line-height: 90px;
  color: rgb(36, 62, 99);
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 60px;
  width: 1024px;
  height: 90px;
}
h1 {
  font-size: 60px;
  line-height: 75px;
  color: rgb(26, 32, 41);
}

.p {
  text-align: center;
  font-size: 22.5px;
  font-weight: 500;
  color: #7c8ba1;
  width: 720px;
  height: 73.13px;
  margin-top: 20px;
  line-height: 36.5625px;
  display: block;
  margin-block-start: 20px;
}

.input__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 533px;
  height: 100%;
  max-height: 100px;
  background-color: #ffffff;
  padding: 15px 20px 15px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 232, 240);
  border-radius: 9999px;
}

button {
  height: 64px;
  width: 200px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(247, 250, 252);
  background-color: rgb(100, 21, 255);
  padding: 10px 10px 10px 0px;
}

.input_styling {
  border-style: none;
}

/*
FEATURES
*/

.features__container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

.feature__section {
  margin: 0 auto;
}

.feature__section--row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vertical__spacer {
  display: block;
  line-height: 30px;
  margin-top: 50px;
  width: 1200px;
}
/*
Sub-SECTION
FEATURES-CARDS
*/

.services {
  background-color: white;
  width: 100%;
  max-width: 1200px;
  width: calc(100% / 3);
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 300px;
  margin-right: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  #border: 2px solid red;
}

.services__row {
  width: 100%;
  max-width: 1200px;
  #border-style: solid;
  #border-width: 1px;
}
.service__logo-description--container {
  width: 100%;
  max-width: 301px;
  height: 378px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 10px;
  margin: 0px 20px;
  #border: 2px solid blue;
}

.logo__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  margin: 0 auto;
  #margin: 2px solid green;
}

.img__container {
  height: 82px;
  width: 82px;
  padding: 25px;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgb(226, 232, 240);
  #border: 2px solid black;
}

.logo {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  #border: 2px solid orange;
}

.text_container {
  width: 180px;
  height: 214px;
  margin: 10px 0px 0px 20px;
  display: block;
}

.heading__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(36, 62, 99);
  margin: 20px 0px 0px;
}

.heading__description {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  color: #7c8ba1;
  margin: 20px 0px 0px;
}

.box {
  width: 180px;
  height: 214px;
  margin: 10px 0px 0px 20px;
  display: block;
  #border: 2px solid yellow;
}
/*
QUALITY WORK SECTION
*/

#quality__work {
  width: 100%;
  max-width: 1200px;
  padding: 120px 0px;
  margin: 0 auto;
}

.quality_works--container {
  width: 100%;
  max-width: 1200px;
  height: 894px;
}

.quality__work--row {
  width: 100%;
  max-width: 1200px;
  height: 894px;
  margin: 0 auto;
}
.h5__qw {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  color: rgb(100, 21, 255);
  margin-bottom: 20px;
}

.h2__qw {
  text-align: left;
  font-size: 60px;
  width: 560px;
  height: 225px;
  line-height: 75px;
  color: rgb(36, 62, 99);
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 60px;
  margin: 20px 0px 0px;
  #width: 1024px;
  #height: 90px;
}

.p__qw {
  text-align: left;
  font-size: 22.5px;
  font-weight: 500;
  color: #7c8ba1;
  width: 560px;
  height: 182px;
  margin-top: 20px;
  line-height: 36.5625px;
  display: block;
  margin: 20px 0px 0px;
}
.quality__work_left--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 50%;
}

.quality__work_right--column {
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.quality__work--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.hero__screenshot--image {
  width: 640px;
  max-width: 100%;
  height: 411px;
  vertical-align: middle;
  color: rgb(36, 62, 99);
  border-radius: 5px;
  border-width: 1px;
  line-height: 30px;
}

.button__qw {
  text-align: start;
  height: 56.25px;
  width: 182.562px;
  border-radius: 9999px;
  font-size: 17.5px;
  #line-height: 26.25px;
  font-weight: 700;
  color: rgb(247, 250, 252);
  background-color: rgb(100, 21, 255);
  margin: 40px 0px 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-style: none;
}

/*
STEPS SECTION
*/
#steps {
  width: 100%;
  max-width: 1200px;
  padding: 120px 0px;
  margin: 0 auto;
}
.steps__container {
  width: 100%;
  max-width: 1200px;
  height: 990px;
}

.step--row {
  width: 100%;
  max-width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.h5__step {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  color: rgb(100, 21, 255);
  margin-bottom: 20px;
}

.h2__step {
  text-align: left;
  font-size: 60px;
  width: 418.5px;
  height: 150px;
  line-height: 75px;
  color: rgb(36, 62, 99);
  font-weight: 900;
  letter-spacing: 1.5px;
  margin: 20px 0px 0px;
  #width: 1024px;
  #height: 90px;
}
.p__values {
  text-align: left;
  font-size: 22.5px;
  font-weight: 500;
  color: #7c8ba1;
  width: 560px;
  height: 182px;
  margin-top: 20px;
  line-height: 36.5625px;
  display: block;
  margin: 20px 0px 0px;
}

.number {
  width: 51.6719px;
  height: 45px;
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  color: rgb(203, 213, 224);
}

.step__section {
  width: 1200px;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
  text-align: left;
  line-height: 30px;
}
.steps__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: rgb(36, 62, 99);
}

.steps__description {
  font-size: 17.5px;
  font-weight: 500;
  line-height: 35px;
  max-width: 400px;
  text-align: left;
  margin: 0px 0px 0px 30px;
}

.step_right--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 50%;
}

.step_left--column {
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 180px 0px 0px;
}

.hero__screenshot2--image {
  width: 634px;
  max-width: 100%;
  height: 361px;
  vertical-align: middle;
  color: rgb(36, 62, 99);
  border-radius: 5px;
  border-width: 1px;
  line-height: 30px;
}

/*
SECTION VALUES
*/

#values {
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 120px 0px;
  margin: 0 auto;
}
.values--container {
  width: 100%;
  max-width: 1200px;
  height: 1200px;
}

.values--row {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.h5__values {
  width: 531px;
  height: 40px;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  color: rgb(100, 21, 255);
}

.h2__values {
  text-align: left;
  font-size: 60px;
  width: 541px;
  height: 225px;
  line-height: 75px;
  color: rgb(36, 62, 99);
  font-weight: 900;
  letter-spacing: 1.5px;
  margin: 20px 0px 0px;
  #width: 1024px;
  #height: 90px;
}
.values--section {
  width: 1200px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
  text-align: left;
  line-height: 30px;
}
.values--title {
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: rgb(36, 62, 99);
}

.values__description {
  font-size: 17.5px;
  font-weight: 500;
  line-height: 35px;
  max-width: 400px;
  text-align: left;
  margin: 0px 0px 0px 30px;
}

.values_right--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 50%;
}

.values_left--column {
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 180px 0px 0px;
}

.values_prototype-illustration--image {
  width: 640px;
  max-width: 100%;
  height: 494px;
  vertical-align: middle;
  color: rgb(36, 62, 99);
  border-radius: 5px;
  border-width: 1px;
  line-height: 30px;
}
.values {
  background-color: white;
  width: 100%;
  max-width: 1200px;
  width: calc(100% / 3);
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 300px;
  margin-right: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  #border: 2px solid red;
}

.values--row {
  width: 100%;
  max-width: 1200px;
  #border-style: solid;
  #border-width: 1px;
}

.values_logo__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  margin: 0 auto;
  #margin: 2px solid green;
}

.values_img__container {
  height: 82px;
  width: 82px;
  padding: 25px;
}

.values_logo {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  #border: 2px solid orange;
}

.values_text__container {
  width: 180px;
  height: 214px;
  margin: 10px 0px 0px 20px;
  display: block;
}

.values_heading__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(36, 62, 99);
  margin: 20px 0px 0px;
}

.values_heading__description {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  color: #7c8ba1;
  margin: 20px 0px 0px;
}

.values_box {
  width: 180px;
  height: 214px;
  margin: 10px 0px 0px 20px;
  display: block;
  #border: 2px solid yellow;
}
.values_value {
  background-color: white;
  width: 100%;
  max-width: 1200px;
  width: calc(100% / 3);
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 300px;
  margin-right: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  #border: 2px solid red;
}

.values_value__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  #border-style: solid;
  #border-width: 1px;
}
.values__logo-description--container {
  width: 100%;
  max-width: 301px;
  height: 378px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 10px;
  margin: 0px 20px;
  #border: 2px solid blue;
}
.button__values {
  text-align:center;
  height: 56.25px;
  width: 182.562px;
  border-radius: 9999px;
  font-size: 17.5px;
  #line-height: 26.25px;
  font-weight: 700;
  color: rgb(247, 250, 252);
  background-color: rgb(100, 21, 255);
  margin: 40px 0px 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-style: none;
}

/*
PRICING
*/
#pricing {
  width: 100%;
  max-width: 1200px;
  padding: 120px 0px;
}

.pricing__container {
  margin: 0 auto;
  width: 1200px;
  height: 1620px;
}

.pricing__section--row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h5__pricing {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  color: rgb(100, 21, 255);
  margin-bottom: 20px;
}

.h2__pricing {
  text-align: center;
  font-size: 60px;
  width: 1024px;
  line-height: 90px;
  color: rgb(36, 62, 99);
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 60px;
  width: 1024px;
  height: 90px;
}
h1 {
  font-size: 60px;
  line-height: 75px;
  color: rgb(26, 32, 41);
}

.p__pricing {
  text-align: center;
  font-size: 22.5px;
  font-weight: 500;
  color: #7c8ba1;
  width: 720px;
  height: 73.13px;
  margin-top: 20px;
  line-height: 36.5625px;
  display: block;
  margin-block-start: 20px;
}
.plans__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 1000px;
  padding: 120px 0px;
}

.p_plan {
  width: calc(100% / 3);
  height: 700px;
  display: flex;
  flex-direction: column;
  o1utline-style: solid;
  o1utline-width: 0.909091px;
}
.b_plan {
  width: calc(100% / 3);
  height: 700px;
  display: flex;
  flex-direction: column;
  o1utline-style: solid;
  o1utline-width: 0.909091px;
  background-color: #6415ff;
}
.e_plan {
  width: calc(100% / 3);
  height: 700px;
  display: flex;
  flex-direction: column;
  o1utline-style: solid;
  o1utline-width: 0.909091px;
}
.personal__styled__divider {
  width: 333px;
  height: 10px;
  display: block;
  position: absolute;
  height: 0.5rem;
  border-width: 0px;
  border-style: solid;
  background-image: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.enterprise__styled__divider {
  width: 333px;
  height: 110px;
  display: block;
  position: absolute;
  height: 0.5rem;
  border-width: 0px;
  border-style: solid;
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.name {
  width: 320.01px;
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  text-align: center;
  text-transform: uppercase;
  border1-width: 1px;
  border1-style: solid;
  border1-color: rgb(226, 232, 240);
}
.price {
  width: 320.01px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: center;
  border1-width: 1px;
  border1-style: solid;
  border1-color: rgb(226, 232, 240);
}

.duration {
  width: 320.01px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.6px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border1-width: 1px;
  border1-style: solid;
  border1-color: rgb(226, 232, 240);
}

.personal__plan__header {
  width: 306px;
  height: 260px;
  display: flex;
  flex-direction: column;
  border1-width: 1px;
  border1-style: solid;
  borde1r-color: rgb(226, 232, 240);
}
.business__plan__header {
  width: 306px;
  height: 260px;
  display: flex;
  flex-direction: column;
  border1-width: 1px;
  border1-style: solid;
  border1-color: rgb(226, 232, 240);
}
.enterprise__plan__header {
  width: 306px;
  height: 260px;
  display: flex;
  flex-direction: column;
  border1-width: 1px;
  border1-style: solid;
  border1-color: rgb(226, 232, 240);
}

.personal__plan__features {
  width: 306.672px;
  height: 257px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  border-top: 2px;
  border-bottom: 2px;
  border1-width: 1px;
  border1-style: solid;
  border1-color: rgb(226, 232, 240);
}
.business__plan__features {
  width: 306.672px;
  height: 257px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px;
  text-align: center;
  line-height: 2dvb;
  font-size: 16px;
  border-top: 2px;
  border-bottom: 2px;
  border1-width: 1px;
  border1-style: solid;
  border1-color: rgb(226, 232, 240);
}

.enterprise__plan__features {
  width: 306.672px;
  height: 257px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  border-top: 2px;
  border-bottom: 2px;
  border1-width: 1px;
  border1-style: solid;
  border1-color: rgb(226, 232, 240);
}

.personal__feature {
  width: 333.01px;
  height: 379px;
  text-align: center;
  font-size: 16px;
  margin: 0px 40px;
  padding: 40px;
  color: #718096;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.business__feature {
  width: 333.01px;
  height: 379px;
  text-align: center;
  font-size: 16px;
  margin: 0px 40px;
  padding: 40px;
  color: #718096;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.enterprise__feature {
  width: 333.01px;
  height: 379px;
  text-align: center;
  font-size: 16px;
  margin: 0px 40px;
  padding: 40px;
  color: #718096;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.personal__mainFeature {
  width: 320.01px;
  height: 37.5px;
  font-size: 20px;
  color: #1a202c;
  border-width: 1px;
  border-style: solid;
}
.business__mainFeature {
  width: 320.01px;
  height: 75px;
  font-size: 20px;
  color: #1a202c;
}

.enterprise__mainFeature {
  width: 320.01px;
  height: 75px;
  font-size: 20px;
  color: #1a202c;
}
.plan_action {
  width: 173.33px;
  height: 66.25px;
  padding: 20px 40px;
}
.personal__plan_buynowbutton {
  width: 146px;
  height: 92px;
  font-size: 17.5px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}
.business__plan_buynowbutton {
  width: 146px;
  height: 92px;
  font-size: 17.5px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}
.enterprise__plan_buynowbutton {
  width: 146px;
  height: 92px;
  font-size: 17.5px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}
.Feature_1 {
  width: 253px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 37.5px;
  letter-spacing: 0.625px;
  margin: 25px 0px 0px;
}
.Feature_2 {
  width: 253px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 25px 0px 0px;
}
.Feature_3 {
  width: 253px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 25px 0px 0px;
}
.Feature_4 {
  width: 253px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 25px 0px 0px;
}
.Feature_5 {
  width: 253px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 25px 0px 0px;
}
.plans__container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
