@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  padding: 32px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 36px;
  color: #1a202c;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.text--purple {
  color: #6415ff;
}

.button__hover {
  cursor: pointer;
}

.cursor__not-allowed {
  cursor: not-allowed;
}

/* SCROLL-BAR WITH PURPLE SCROLLBAR */
::-webkit-scrollbar-thumb {
  background: #6415ff;
}

::-webkit-scrollbar-track {
  background: #e6e3e3;
}

::-webkit-scrollbar {
  width: 10px;
}

/* ANIMATION WITH RIGHT / LEFT FADE IN */
#landing {
  animation: left 900ms ease;
}

#features {
  animation: right 900ms ease;
}

#quality {
  animation: left 900ms ease;
}

#steps {
  animation: right 900ms ease;
}

#values {
  animation: left 900ms ease;
}

#price {
  animation: right 900ms ease;
}

#testimonials {
  animation: left 900ms ease;
}

#questions {
  animation: right 900ms ease;
}

#banner {
  animation: left 900ms ease;
}

#footer {
  animation: right 900ms ease;
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translate(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translate(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*

BURGER MENU

*/

.btn__menu {
  display: none;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.btn__menu:hover {
  cursor: pointer;
  color: #6415ff;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.btn__backdrop {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin: 24px 16px;
  padding: 32px;
  border: 1px solid #d8d9db;
  border-radius: 10px;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 500ms ease;
}

.menu--open .btn__backdrop {
  opacity: 1;
  visibility: visible;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  margin: 10px 0;
  padding-bottom: 8px;
}

.menu__link {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  transition: all 700ms ease;
}

.menu__link--purple {
  margin: 8px 0;
  padding: 12px 32px;
  border-radius: 50px;
  background-color: #6415ff;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.menu__link:hover {
  text-decoration: 2px underline;
  color: rgb(65, 12, 172);
}

.menu__link--purple:hover {
  background-color: rgb(65, 12, 172);
  color: #fff;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #6415ff;
}

/*

NAVIGATION

*/

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.nav__title {
  font-weight: 900;
  font-size: 24px;
  color: #243e63;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 24px;
  padding: 0 0 4px;
  font-weight: 600;
  font-size: 17.5px;
  color: #243e63;
}

.nav__link:hover {
  border-bottom: 2px solid #6451ff;
  color: #6451ff;
}

.login {
  margin: 0 12px 0 32px !important;
  cursor: pointer;
}

.nav__link--primary {
  padding: 12px 32px;
  border-radius: 50px;
  background-color: #6415ff;
  font-weight: 550;
  font-size: 14px;
  color: #fff;
}

.nav__link--primary:hover {
  background-color: rgb(65, 12, 172);
  color: #fff;
  text-decoration: none;
}

/*

HEADER

*/

header {
  position: relative;
}

.header__container {
  position: relative;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 96px 0;
}

.header__row {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 32px;
}

.header__description {
  min-width: 550px;
  width: 50%;
}

.header__title {
  font-size: 60px;
}

.header__img {
  display: flex;
  align-items: center;
  max-width: 768px;
}

.header__homepage--img {
  width: 100%;
  min-width: 0;
  max-width: 768px;
}

.header__para {
  margin: 32px 0;
  font-size: 18px;
  color: #243e63;
  line-height: 1.5;
}

.header__getstarted {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 448px;
  color: #ffffff;
}

.header__input {
  width: 100%;
  padding: 22px 0 22px 32px;
  border: 2px solid rgb(232, 236, 241);
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  color: #243e63;
}

.header__button {
  position: absolute;
  right: 0;
  width: 160px;
  min-width: 130px;
  margin: 8px 8px 8px 0;
  padding: 16px 0;
  border: none;
  border-radius: 50px;
  background-color: #6415ff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

.header__button:hover {
  background-color: rgb(65, 12, 172);
}

.header__customers--wrapper {
  width: 100%;
  height: auto;
  margin: 80px 0 0;
}

.header__customers--title {
  font-weight: 700;
  font-size: 12px;
  color: #a0aec0;
  letter-spacing: 0.05em;
}

.header__customers--img {
  margin-top: 16px;
  padding-right: 64px;
  opacity: 0.5;
}

/*

FEATURES

*/

.features__container {
  position: relative;
  padding: 96px 0;
}

.features__row {
  display: flex;
  flex-direction: column;
}

.service__row {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.features__description {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.features__title {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h5 {
  margin-top: 4px;
  margin-bottom: 20px;
  font-size: 20px;
}

.features__subtitle {
  font-weight: 900;
  font-size: 60px;
  color: #243e63;
}

.features__para {
  max-width: 576px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  color: #7c8ba1;
  text-align: center;
  line-height: 30px;
}

.features__service--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.feature__service {
  display: flex;
  align-items: flex-start;
  width: calc(100% / 3);
  padding: 32px 24px;
}

.img__wrapper {
  flex-shrink: 0;
  padding: 20px;
  border: 1px solid;
  border-width: 1px;
  border-radius: 500px;
  border-color: rgb(226, 232, 240);
  text-align: center;
}

.feature__description--wrapper {
  margin-top: 8px;
  margin-left: 16px;
}

.service__title {
  font-weight: bold;
  font-size: 24px;
  color: #243e63;
  line-height: 1;
  letter-spacing: 0.4px;
}

.service__para {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #7c8ba1;
  text-align: left;
  line-height: 2;
}

.img__feature {
  width: 24px;
  height: 24px;
}

/*

QUALITY

*/

.quality__container {
  padding: 96px 0;
}

.quality__row {
  display: flex;
}

.quality__description {
  width: 100%;
  margin-right: 12px;
}

.quality__title {
  margin-bottom: 16px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 1.5px;
}

.quality__subtitle {
  font-weight: 900;
  font-size: 60px;
  color: #243e63;
  letter-spacing: 1px;
}

.quality__para {
  margin-top: 16px;
  margin-bottom: 32px;
  color: #7c8ba1;
  font-size: 16px;
  text-align: left;
  line-height: 30px;
}

.quality__button {
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  background-color: #6415ff;
  color: #fff;
  transition: 500ms ease;
  cursor: pointer;
}

.quality__button:hover {
  background-color: rgb(65, 12, 172);
  color: #fff;
  text-decoration: none;
}

.quality__img--wrapper {
  width: 100%;
  height: 100%;
  max-width: 640px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 4px;
}

/*

STEPS

*/

.steps__container {
  padding: 96px 0;
}

.steps__img--wrapper {
  display: flex;
  align-items: center;
  max-width: 640px;
  width: 100%;
}

.steps__description {
  display: flex;
  flex-direction: column;
  max-width: 576px;
  width: 50%;
  margin-left: 64px;
}

.steps__title {
  margin-bottom: 16px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 1.5px;
  line-height: 24px;
}

.steps__subtitle {
  font-weight: 900;
  font-size: 60px;
  color: #243e63;
  text-align: left;
  letter-spacing: 1px;
  line-height: 60px;
}

.steps__list {
  display: flex;
  flex-direction: column;
}

.steps__list--item {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.steps__list--number {
  font-weight: 600;
  font-size: 36px;
  color: #cbd5e0;
  line-height: 1;
  --tw-text-opacity: 1;
}

.steps__list--description {
  margin-left: 24px;
}

.steps__list--subtitle {
  font-weight: 600;
  font-size: 25px;
  color: #243e63;
}

.steps__list--para {
  max-width: 320px;
  margin-top: 12px;
  font-size: 14px;
  color: #718096;
  text-align: left;
  line-height: 28px;
}

/*

VALUES

*/

.values__container {
  padding: 96px 0;
}

.values__description {
  width: 40%;
}

.values__title {
  margin-bottom: 16px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 1.6px;
  line-height: 24px;
}

.values__subtitle {
  font-weight: 900;
  font-size: 60px;
  color: #243e63;
  text-align: left;
  line-height: 60px;
}

.values__para {
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  color: #7c8ba1;
  text-align: left;
  line-height: 30px;
}

.values__principles--wrapper {
  display: flex;
}

.values__principle {
  display: flex;
  flex-direction: column;
  margin: 32px 32px 0 0;
}

.values__principle--header {
  display: flex;
  align-items: center;
}

.values__dollar-sign {
  display: flex;
  padding: 6px;
  border-radius: 500px;
  background-color: rgb(154, 230, 180);
  color: rgb(39, 103, 73);
}

.values__briefcase {
  display: flex;
  background-color: rgb(254, 178, 178);
  padding: 6px;
  border-radius: 500px;
  color: rgb(155 44 44);
}

.values__principle--title {
  font-weight: 700;
  font-size: 20px;
  margin-left: 12px;
  color: #243e63;
}

.values__principle--description {
  margin: 16px 0;
  color: #718096;
  line-height: 1.5;
}

.values__button {
  margin-top: 32px;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  background-color: #6415ff;
  font-weight: 700;
  color: #fff;
  transition: 500ms ease;
  cursor: pointer;
}

.values__button:hover {
  background-color: rgb(65, 12, 172);
  color: #fff;
  text-decoration: none;
}

.values__img {
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 80px;
}

/*

PRICING

*/

.pricing__container {
  padding: 96px 0;
}

.pricing__row {
  display: flex;
  flex-direction: column;
}

.pricing__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
}

.pricing__title {
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.6px;
  line-height: 24px;
}

.pricing__subtitle {
  font-weight: 900;
  font-size: 60px;
  color: #243e63;
  letter-spacing: 1px;
  line-height: 60px;
}

.pricing__para {
  max-width: 576px;
  width: 100%;
  margin-top: 16px;
  font-weight: 500;
  font-size: 18px;
  color: #7c8ba1;
  text-align: center;
  line-height: 30px;
  --tw-text-opacity: 1;
}

.pricing__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pricing__personal {
  max-width: 384px;
  width: 100%;
  margin-top: 64px;
  margin-right: 32px;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}

.pricing__business {
  max-width: 384px;
  width: 100%;
  margin-top: 64px;
  margin-right: 32px;
  border-radius: 8px;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}

.pricing__enterprise {
  max-width: 384px;
  width: 100%;
  margin-top: 64px;
  margin-right: 32px;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}

.personal__color {
  height: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background: linear-gradient(
    115deg,
    rgb(56 178 172) 0%,
    rgb(129 230 217) 100%
  );
}

.enterprise__color {
  height: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.price__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  border-bottom: 2px solid #e5e7eb;
}

.price__top2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  border-bottom: 2px solid #fff;
}

.price__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
  color: #242424;
}

.price__title2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.price__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 48px;
  color: #242424;
  line-height: 78px;
}

.price__subtitle2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  line-height: 78px;
}

.price__monthly {
  font-weight: 700;
  color: rgb(160 174 192);
  letter-spacing: 1.6px;
}

.price__monthly2 {
  font-weight: 700;
  color: #fff;
  letter-spacing: 1.6px;
}

.price__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-bottom: 2px solid #e5e7eb;
}

.price__center2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-bottom: 2px solid #fff;
}

.price__center--title {
  font-weight: 700;
  font-size: 20px;
  color: #242424;
  text-align: center;
}

.price__center--title2 {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.price__center--description {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #718096;
  line-height: 24px;
}

.price__center--description2 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.price__bottom {
  display: flex;
  justify-content: center;
  padding: 32px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.price__bottom2 {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.price__button1 {
  padding: 16px 40px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    115deg,
    rgb(56 178 172) 0%,
    rgb(129 230 217) 100%
  );
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.8px;
  transition: all 500ms ease;
  cursor: pointer;
}

.price__button1:hover {
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.06);
  transform: translate(2px, -2px);
}

.price__button2 {
  padding: 16px 40px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  color: #6415ff;
  letter-spacing: 0.8px;
  transition: all 500ms ease;
  cursor: pointer;
}

.price__button2:hover {
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.06);
  transform: translate(2px, -2px);
}

.price__button3 {
  padding: 16px 40px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.8px;
  transition: all 500ms ease;
  cursor: pointer;
}

.price__button3:hover {
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.06);
  transform: translate(2px, -2px);
}

/*

TESTIMONIALS

*/

.testimonials__container {
  padding: 96px 0;
}

.testimonials__row {
  display: flex;
}

.testimonials__description {
  width: 60%;
  padding-left: 64px;
}

.testimonials__img {
  display: flex;
  align-items: center;
  max-width: 40%;
}

.testimonials__title {
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 24px;
}

.testimonials__subtitle {
  font-weight: 900;
  font-size: 60px;
  color: #243e63;
  letter-spacing: 1px;
  line-height: 60px;
}

.testimonials__para {
  width: 100%;
  max-width: 576px;
  margin: 24px 0 32px;
  font-weight: 500;
  font-size: 18px;
  color: #7c8ba1;
  line-height: 30px;
  --tw-text-opacity: 1;
}

.testimonials__ratings {
  margin-bottom: 16px;
  color: #fabf2a;
}

.testimonials__title2 {
  font-weight: 700;
  font-size: 20px;
  color: #243e63;
}

.testimonials__para2 {
  margin: 16px 0 32px;
  font-weight: 500;
  font-size: 16px;
  color: #4a5568;
  line-height: 30px;
}

.ratings__person--wrapper {
  display: flex;
  align-items: center;
}

.ratings__img {
  margin-right: 20px;
}

.ratings__person__img {
  width: 85px;
  height: 85px;
  border-radius: 50px;
}

.ratings__person {
  display: flex;
  flex-direction: column;
}

.ratings__person--name {
  font-weight: 700;
  font-size: 20px;
  color: #243e63;
}

.ratings__person--title {
  font-weight: 500;
  font-size: 16px;
  color: #7c8ba1;
  line-height: 1.5;
}

/*

QUESTIONS

*/

.questions__container {
  padding: 96px 0;
}

.questions__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions__row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.questions__title {
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 24px;
}

.questions__subtitle {
  font-weight: 900;
  font-size: 60px;
  color: #243e63;
  letter-spacing: 1px;
  line-height: 60px;
}

.questions__para {
  display: flex;
  text-align: center;
  max-width: 576px;
  margin: 0 auto;
  margin: 16px 0 40px;
  font-weight: 500;
  font-size: 18px;
  color: #7c8ba1;
  line-height: 1.6;
}

.questions__table {
  width: 100%;
}

.question__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: rgba(227, 230, 233, 0.473);
  transition: 500ms ease;
  cursor: pointer;
}

.question__wrapper:hover {
  background-color: rgba(203, 208, 214, 0.514);
}

.question {
  font-weight: 600;
  font-size: 20px;
}

/*

BANNER

*/

.banner__container {
  padding: 96px 0;
}

.banner__row {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.banner__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 80px;
  border-radius: 8px;
  background-color: #6415ff;
}

.banner__title--wrapper {
  width: 50%;
}

.banner__title {
  font-size: 30px;
  color: #fff;
  line-height: 1.8;
}

.banner__description {
  display: flex;
  margin: 0 auto;
}

.banner__button--wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.banner__button1 {
  margin-right: 32px;
  padding: 16px 32px;
  border: none;
  border-radius: 50px;
  background-color: rgb(247, 91, 91);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: 500ms ease;
  cursor: pointer;
}

.banner__button1:hover {
  background: rgb(202, 73, 73);
}

.banner__button2 {
  margin-right: 32px;
  padding: 16px 32px;
  border: 1px solid rgb(160, 174, 192);
  border-radius: 50px;
  background-color: #6415ff;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: 500ms ease;
  cursor: pointer;
}

.banner__button2:hover {
  background: #fff;
  color: #6415ff;
}

/*

FOOTER

*/

.footer__container {
  padding: 78px 0;
  background: #6415ff;
}

.footer__row {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links--title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 32px;
}

.footer__link {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;

  transition: all 500ms ease;
}

.footer__link:hover {
  text-decoration: 2px underline;
}

.footer__divide {
  width: 100%;
  margin: 64px 0;
  border-bottom: 2px solid rgba(144, 122, 190, 0.308);
}

.footer__final {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  width: 40px;
  height: 40px;
}

.footer__logo--title {
  margin-left: 8px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.footer__copyright {
  font-weight: 500;
  font-size: 16px;
  color: rgb(219, 225, 231);
  line-height: 24px;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 6px;
  border-radius: 50px;
  background-color: #fff;
  transition: 500ms ease;
}

.footer__img--wrapper:hover {
  background-color: #ccc3cef8;
}

.footer__img {
  width: 16px;
  height: 16px;
  color: black;
}

/*

 @media (max-width: 1024px)------------------------------------------------------------

*/

@media (max-width: 1024px) {
  .header__title {
    font-size: 30px;
    text-align: center;
  }

  .header__row {
    display: flex;
    flex-direction: column;
  }

  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .header__img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 512px;
    width: 100%;
  }

  .titles__16px {
    font-size: 16px;
  }

  .subtitles__36px {
    font-size: 36px;
  }

  .subtitles__48px {
    font-size: 48px;
  }

  .header__para {
    text-align: center;
  }

  .header__row {
    display: flex;
    flex-direction: column;
  }

  .header__getstarted {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
  }

  .header__button {
    position: absolute;
    width: 30%;
    margin: 8px;
    line-height: 1;
  }

  .header__customers--title {
    font-size: 14px;
    text-align: center;
  }

  .header__customers--wrapper {
    width: 100%;
    margin: 48px 0 32px;
  }

  .header__description {
    margin-right: auto;
    margin-left: auto;
  }

  .header__customers--img {
    padding: 0;
  }

  /* FEATURES */

  .features__container {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .feature__service {
    width: calc(100% / 2);
  }

  .features__service--wrapper {
    padding: 0 96px;
  }

  /* QUALITY */

  .quality__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  /* STEPS */

  .steps__title {
    margin-top: -10px;
  }

  .steps__img--wrapper {
    max-width: 440px;
  }

  /* VALUES */

  .values__principles--wrapper {
    display: flex;
    flex-direction: column;
    max-width: 320px;
  }

  .values__description {
    max-width: 420px;
  }

  .values__subtitle {
    line-height: 1.25;
  }

  /* PRICING */

  .pricing__title {
    margin-top: -100px;
  }

  .pricing__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing__personal,
  .pricing__business,
  .pricing__enterprise {
    margin: 64px 0 0;
  }

  .pricing__para {
    font-size: 16px;
  }

  /*

  testimonials

  */

  .testimonials__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__description {
    width: 90%;
  }

  .testimonials__para {
    font-size: 16px;
    line-height: 1.6;
  }

  .testimonials__para2 {
    line-height: 1.625;
  }

  /*

  QUESTIONS

  */

  .questions__table {
    width: 90%;
  }

  .questions__para {
    font-size: 16px;
  }

  .question {
    font-weight: 500;
    font-size: 18px;
    margin-right: 8px;
  }

  /*

  BANNER

  */

  .banner__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner__title--wrapper {
    width: 100%;
    margin-bottom: 30px;
  }

  .banner__title {
    max-width: 500px;
    text-align: center;
  }

  .banner__button--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /*

  FOOTER

  */

  .footer__row {
    padding: 0 32px;
  }
}

/* 

@media (max-width: 768px)---------------------------------------

*/

@media (max-width: 768px) {
  /*

  HEADER

  */

  .header__container {
    padding: 80px 0;
  }

  .header__description {
    margin-right: auto;
    margin-left: auto;
  }

  .header__customers--wrapper {
    width: 100%;
  }

  .header__img {
    width: 100%;
    min-width: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*

  FEATURES

  */

  .features__container {
    padding: 80px 0;
  }

  .features__para {
    font-size: 14px;
  }

  .features__subtitle {
    text-align: center;
  }

  .features__service--wrapper {
    display: flex;
    justify-content: center;
  }

  .feature__service {
    width: 80%;
  }

  /*

  QUALITY

  */

  .quality__container {
    padding: 80px 0;
  }

  .quality__row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .quality__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .quality__img--wrapper {
    width: 100%;
  }

  .quality__title,
  .quality__subtitle,
  .quality__para {
    text-align: center;
  }

  .quality__title {
    margin-top: 60px;
  }

  .quality__para {
    max-width: 448px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
  }

  /* STEPS */

  .steps__container {
    padding: 80px 0;
  }

  .steps__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__img--wrapper {
    width: 100%;
    margin-bottom: 80px;
  }

  .steps__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .steps__list--item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__title {
    margin-left: 24px;
  }

  .steps__subtitle {
    min-width: 448px;
    margin-left: 102px;
  }

  .steps__list--subtitle {
    text-align: center;
  }

  .steps__list--para {
    text-align: center;
  }

  .steps__list--number {
    margin: 0 0 8px 18px;
  }

  /*

  VALUES

  */

  .values__container {
    padding: 80px 0;
  }

  .values__img {
    width: 60%;
    min-width: 448px;
    padding: 0 0 12px;
  }

  .values__row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .values__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .values__title,
  .values__subtitle,
  .values__para {
    text-align: center;
  }

  .values__title {
    margin-top: 80px;
  }

  .values__subtitle {
    min-width: 440px;
    text-align: center;
  }

  .values__para {
    min-width: 448px;
    font-size: 14px;
    text-align: center;
    line-height: 1.6;
  }

  .values__principle {
    margin: 40px 0 0;
  }

  .values__principles--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .values__principle--header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .values__principle--description {
    margin: 16px 0 0;
    text-align: center;
  }

  .values__button--wrapper {
    display: flex;
    justify-content: center;
  }

  /*

  PRICING

  */

  .pricing__container {
    padding: 80px 0;
  }

  .pricing__subtitle {
    text-align: center;
  }

  .pricing__para {
    font-size: 14px;
    line-height: 1.6;
  }

  /*

  TESTIMONIALS

  */

  .testimonials__container {
    padding: 80px 0;
  }

  .testimonials__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__img {
    min-width: 448px;
    margin-bottom: 80px;
  }

  .testimonials__description {
    min-width: 448px;
    padding: 0;
    text-align: center;
  }

  .testimonials__para {
    font-size: 14px;
  }

  .ratings__person--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  /*

  QUESTIONS

  */

  .questions__container {
    padding: 80px 0;
  }

  .question {
    margin-right: 16px;
    font-weight: 500;
    font-size: 18px;
  }

  .feather {
    min-width: 24px;
    min-height: 24px;
  }

  /*

  BANNER

  */

  .banner__container {
    padding: 80px 0;
  }
}

/*  @media (max-width: 700px)----------------------------------------------------------- */

@media (max-width: 700px) {
  .header__description {
    width: 100%;
    min-width: 0px;
  }

  .header__para {
    margin: 20px 0;
  }

  .header__row {
    min-width: 0;
    padding: 0;
  }

  .features__subtitle {
    font-size: 30px;
  }

  .feature__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .feature__description--wrapper {
    margin: 16px 0 0 0;
  }

  .service__para {
    min-width: 336px;
    margin: 4px 0 0;
    text-align: center;
  }

  .quality__description {
    margin-top: 12px;
  }
  .steps__list--description {
    margin: 0;
  }

  .steps__list--number {
    margin: 0 0 8px 0;
  }

  .values__description {
    margin: 0;
    padding: 0;
  }

  .values__subtitle {
    font-size: 30px;
  }

  .values__para {
    width: 100%;
  }

  .pricing__subtitle {
    font-size: 30px;
  }

  .price__subtitle {
    font-size: 30px;
  }

  .price__subtitle2 {
    font-size: 30px;
  }

  .testimonials__img {
    min-width: 0;
    max-width: 448px;
  }

  .testimonials__description {
    min-width: 448px;
    max-width: 100%;
  }

  .testimonials__subtitle {
    font-size: 30px;
  }

  .questions__subtitle {
    font-size: 30px;
  }

  .questions__para {
    font-size: 14px;
  }

  .footer__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -48px 0 0;
  }

  .footer__links {
    margin-top: 48px;
    padding: 0 16px;
    text-align: center;
  }

  .footer__logo--img {
    width: 32px;
    height: 32px;
  }

  .footer__final {
    display: flex;
    flex-direction: column;
  }

  .footer__copyright,
  .footer__socials {
    margin-top: 32px;
  }

  /*

  QUESTIONS

  */

  .question {
    margin-right: 16px;
    font-weight: 500;
    font-size: 18px;
  }

  .feather {
    min-width: 24px;
    min-height: 24px;
  }
}

/*

@ media (max-width: 576px)------------------------------------------------------

*/

@media (max-width: 576px) {
  .header__getstarted {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 448px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .header__button {
    position: relative;
    max-width: 448px;
    width: 100%;
    margin: 16px 8px;
    padding: 22px 0;
  }

  .header__row {
    padding: 0;
  }

  .header__img {
    min-width: 0;
    margin: 0;
  }

  .quality__subtitle {
    font-size: 30px;
  }

  .quality__description {
    margin-top: 8px;
  }

  .steps__subtitle {
    min-width: 0;
    margin: 0;
    font-size: 30px;
    text-align: center;
  }

  .values__img,
  .values__subtitle,
  .values__para {
    min-width: 0;
  }

  .values__subtitle {
    width: 100%;
  }

  .values__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .testimonials__description {
    min-width: 0;
  }

  .testimonials__row {
    width: 100%;
  }

  .ratings__person--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ratings__img {
    margin: 0;
  }

  .ratings__person__img {
    width: 64px;
    height: 64px;
  }

  .ratings__person {
    margin-top: 8px;
  }

  .mobile__alignment {
    text-align: center;
  }

  .question {
    font-size: 14px;
  }

  .banner__button--wrapper {
    display: flex;
    flex-direction: column;
  }

  .banner__button2 {
    margin: 16px 0 0;
    font-size: 14px;
  }

  .banner__button1 {
    font-size: 14px;
    margin: 0;
  }

  .banner__title {
    font-size: 24px;
  }

  .banner__line {
    padding: 48px 32px;
  }
}
